.App {
  text-align: center;
}

.App-logo {
  height: 9vmin;
  pointer-events: none;
}
.row{
  /*remove the unnecessary side scroll from the page*/
  margin-left: auto;
  margin-right:auto ;
}
.App-header {
  background-color: #282c34;
  min-height: 10vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  text-decoration: none;
}

.buttons {
  max-width: 60vh;
  padding-bottom: 10vh;
}

.infos {
  padding: 20px;
}

.copyright {
  text-align: center;
  background-color: #282c34;
  color: #fff;
  padding: 0.2rem;
}
